body {
  color: #ffffff;
  background-size: cover;
  height: 100vh;
}

h1,
h2,
h3,
h4,
.subheading-1 {
  font-family: "Bellefair", serif;
}

h5,
.subheading-2,
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.72px;
}

.subheading-1 {
  font-size: 28px;
}

.subheading-2 {
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-text {
  font-size: 16px;
  letter-spacing: 2.7px;
}

.color-1 {
  color: #0b0d17;
}

.color-2 {
  color: #d0d6f9;
}

.color-3 {
  color: #ffffff;
}

.square {
  width: 100px;
  height: 100px;
}

.square.color-1,
.bg-color-1 {
  background-color: #0b0d17;
}

.square.color-2,
.bg-color-2 {
  background-color: #d0d6f9;
}

.square.color-3,
.bg-color-3 {
  background-color: #ffffff;
}

.nav-logo {
  max-width: 48px;
  max-height: 48px;
}

.blur-bg {
  backdrop-filter: blur(1rem);
}

.nav-opacity {
  opacity: 4%;
  right: 0px;
}

/* .nav-item {
  border: 1px solid rgba(255, 255, 255, 0);
} */

.nav-item:hover {
  /* box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.5); */
  /* border-bottom: 1 px solid rgba(255, 255, 255, 0.5) !important; */
  box-shadow: 0 0px black inset, 0 -2px rgba(255, 255, 255, 0.5) inset,
    0px 0 blue inset, 0px 0 green inset;
}

.nav-item:active {
  box-shadow: 0 0px black inset, 0 -2px rgba(255, 255, 255, 1) inset,
    0px 0 blue inset, 0px 0 green inset;
}

.explore {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
  transition: 0.3s;
}

.explore:hover {
  box-shadow: 0 0 0 77px rgba(255, 255, 255, 0.1);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.h-fill {
  flex: 1;
  /* This makes the content div take up the remaining space */
  /* overflow: hidden; Hide any overflow content */
  padding: 0 5rem;
}

.ratio-1-1 {
  aspect-ratio: 1/1;
  width: min-content;
}

.explore-button-parent {
  padding-top: 4rem;
}

.fit {
  max-width: fit-content;
}

.center-around {
  display: grid;
  place-items: center;
  /* height: 100vh;  */
  /* Adjust as needed */
}

.nav-number {
  font-weight: bold;
}

.pick {
  opacity: 0.25;
}

/* medium screen */
@media screen and (max-width: 1440px) and (max-height: 900px) {
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 56px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  .subheading-1 {
    font-size: 28px;
  }

  .subheading-2 {
    font-size: 14px;
    letter-spacing: 2.36px;
  }

  .nav-text {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
}

/* tablet screen */

/* mobile screen */
